*{
  margin-top: 0px;
  text-align: center;
}

.graphics{
  margin-left: 10px;
    text-align: center;
}
.donutchart{
  
  border: 2px solid rgb(182, 182, 182);
  width: 400px; 
  height: 200px;
  padding: 0px; 
  margin-top: 30px;
  margin-left: 30%;
  margin-bottom: 30px;
}

.donutchartTwo, .one, .barchart_hse {
    border: 2px solid rgb(182, 182, 182);
    width: 400px; 
    height: 200px;
    padding: 0px; 
    margin-left: 30%;
    margin-bottom: 30px;
}


.barchart_tech {
  border: 2px solid rgb(182, 182, 182);
  width: 400px; 
  height: 200px;
  padding: 0px; 
  margin-left: 30%;
  margin-bottom: 30px;
}

.PorcentualStudents {
  border: 2px solid rgb(182, 182, 182);
  width: 400px; 
  height: 200px;
  padding: 0px; 
  margin-left: 30%;
  margin-bottom: 30px;
}

.jedis {
  border: 2px solid rgb(182, 182, 182);
  width: 400px; 
  height: 200px;
  padding: 0px; 
  margin-left: 30%;
  margin-bottom: 30px;
}